@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background-color: #1f2937; /* gray-800 */
}
.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thumb-gray-600 {
  scrollbar-color: #4b5563 #1f2937;
}